// variable color
$color-black-0: #000; // default
$color-black-1: rgba(12,27,54,.8);
$color-black-2: #1f2e46;
$color-black-3: #222222;
$color-white-0: #fff; //default
$-color-white-1: rgba(255, 255, 255, .95);
$color-orange-0: #fa5238;
$color-orange-1: #fb4226;
$color-green-0: #00ac4d;
$color-green-1: #108f3e;
$color-green-2: #8bc541;
$color-grey-0: #9b9b9b;
$color-grey-1: #d8d8d8;
$color-grey-2: #4a4a4a;
$color-grey-3: #bbb;
$color-grey-4: #949494;
$color-grey-5: #F8F9FA;
$color-red-0: #FB4226;
$color-red-1: #CA4137;
$color-pink-0: #df0d7a;
$color-yellow-0: #E5A813;

// color border
$color-border: #ebebec;




// variable font-size
$fs-0: 10px; //default
$fs-1: 13px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 32px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)